<div class="agency-alt-hero">
  <div class="container">
    <h3 class="customFadeInUp">
      Contact us.
    </h3>
  </div>
</div>

<div class="agency-alt-contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 style="color: #518dc3;">
          <i class="ion-ios-email-outline"></i>
          Email
        </h4>
        <p>
          sharons.place.pg@gmail.com
        </p>
      </div>
      <div class="col-md-4">
        <h4 style="color: #4fc4c5;">
          <i class="ion-ios-telephone-outline"></i>
          Phone
        </h4>
        <p>
          (801) 687-1394
        </p>
      </div>
      <div class="col-md-4">
        <h4 style="color: #a34dd6;">
          <i class="ion-social-facebook-outline"></i>
          Facebook
        </h4>
        <p>
          <a href="https://www.facebook.com/SharonsDoggieDayCareBoarding/">Sharon's Place</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="agency-alt-map">
  <div class="container">
    <div class="location hidden-sm-down">
      <h5>Sharon's Place</h5>
      <p>
        95 W 700 S
        <br>Pleasant Grove, UT
        <br>84062
      </p>
    </div>
  </div>
  {{google-maps}}
</div>