<div class="agency-hero">
  <section class="container">
    <div class="hero-text">
      <p class="customFadeInUp">
        Pet grooming, day care, and boarding

        <br>

        <a href="https://www.petcareins.com" target="_blank" class="image-link">
          <img src="https://www.petcareins.com/uploads/seals/pci-badge-color-100x95.png" height="75" alt="Pet Care and Pet Sitting Insurance">
        </a>

        <a href="https://www.petmasters.com/listing/sharons-place-pleasant-grove-ut" class="image-link">
          <img src="https://assets.petmasters.com/images/petmasters-approved.png" width="206" height="48" border="0" alt="Petmasters Approved">
        </a>
      </p>

      {{#link-to "main.contact" class="customFadeInUp"}}
        Contact Us
      {{/link-to}}
    </div>
  </section>
</div>