<div class="pricing-header">
  <section class="container">
    <h3 class="customFadeInUp">
      Our Services
    </h3>
  </section>
</div>

<div class="pricing-plans">
  <div class="container">
    <div class="wrapper">
      <div class="plans">
        <div class="plan clearfix">
          <div class="name">Boarding (up to 20 lbs)</div>
          <div class="price">
            $25 <small>/night</small>
          </div>
          <div class="choose">
            {{#link-to "main.contact" class="btn-shadow btn-shadow-primary"}}
              Contact Us
            {{/link-to}}
          </div>
        </div>
        <div class="plan clearfix">
          <div class="name">Boarding (20 - 30 lbs)</div>
          <div class="price">
            $35 <small>/night</small>
          </div>
          <div class="choose">
            {{#link-to "main.contact" class="btn-shadow btn-shadow-primary"}}
              Contact Us
            {{/link-to}}
          </div>
        </div>
        <div class="plan clearfix">
          <div class="name">Boarding (30 - 40 lbs)</div>
          <div class="price">
            $45 <small>/night</small>
          </div>
          <div class="choose">
            {{#link-to "main.contact" class="btn-shadow btn-shadow-primary"}}
              Contact Us
            {{/link-to}}
          </div>
        </div>
        <div class="plan clearfix">
          <div class="name">Boarding (40+ lbs)</div>
          <div class="price">
            call for quote
          </div>
          <div class="choose">
            {{#link-to "main.contact" class="btn-shadow btn-shadow-primary"}}
              Contact Us
            {{/link-to}}
          </div>
        </div>
        <div class="plan clearfix">
          <div class="name">Day Care</div>
          <div class="price">
            $15 <small>/day</small>
          </div>
          <div class="choose">
            {{#link-to "main.contact" class="btn-shadow btn-shadow-primary"}}
              Contact Us
            {{/link-to}}
          </div>
        </div>
        <div class="plan clearfix">
          <div class="name">Grooming</div>
          <div class="price">
            varies
          </div>
          <div class="choose">
            {{#link-to "main.contact" class="btn-shadow btn-shadow-primary"}}
              Contact Us
            {{/link-to}}
          </div>
          <section class="plan-details">
            We offering grooming for dogs. Pricing varies by size of pet and type of coat.
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
