<div class="pricing-header paw-background">
  <section class="container">
    <div class="customFadeInUp d-flex justify-content-center">
      <h3 class="highlight px-1 py-3">
        Our Services
      </h3>
    </div>
  </section>
</div>

<div class="pricing-plans">
  <div class="container">
    <div class="wrapper">
      <p>
        Our prices depend on the weight of your dog. 
        Click on the section below that matches your 
        dogs weight.
      </p>
      <div id="accordion">

        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#small-dogs">
                Up to 20 lbs
              </a>
            </h5>
          </div>

          <div id="small-dogs" class="collapse" role="tabpanel">
            <div class="card-body">
              <div class="plans">
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Boarding</div>
                  <div class="price">
                    $25 <small>/night</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Day Care</div>
                  <div class="price">
                    $15 <small>/day</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Bath & Brush</div>
                  <div class="price">
                    $40
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Trim & Tidy</div>
                  <div class="price">
                    $50
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Contour</div>
                  <div class="price">
                    $60
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Anal Glands</div>
                  <div class="price">
                    $30
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Teeth Brushing</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Dematting</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Flea & Lice Treatment</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Furminating</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Nails Clipped & Filed</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#medium-dogs">
                20 - 30 lbs
              </a>
            </h5>
          </div>

          <div id="medium-dogs" class="collapse" role="tabpanel">
            <div class="card-body">
              <div class="plans">
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Boarding</div>
                  <div class="price">
                    $35 <small>/night</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Day Care</div>
                  <div class="price">
                    $15 <small>/day</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Bath & Brush</div>
                  <div class="price">
                    $65
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Trim & Tidy</div>
                  <div class="price">
                    $65
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Contour</div>
                  <div class="price">
                    $75
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Anal Glands</div>
                  <div class="price">
                    $30
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Teeth Brushing</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Dematting</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Flea & Lice Treatment</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Furminating</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Nails Clipped & Filed</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#large-dogs">
                30 - 40 lbs
              </a>
            </h5>
          </div>

          <div id="large-dogs" class="collapse" role="tabpanel">
            <div class="card-body">
              <div class="plans">
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Boarding</div>
                  <div class="price">
                    $45 <small>/night</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Day Care</div>
                  <div class="price">
                    $15 <small>/day</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Bath & Brush</div>
                  <div class="price">
                    $75
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Trim & Tidy</div>
                  <div class="price">
                    $75
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Contour</div>
                  <div class="price">
                    $85
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Anal Glands</div>
                  <div class="price">
                    $30
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Teeth Brushing</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Dematting</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Flea & Lice Treatment</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Furminating</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Nails Clipped & Filed</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#x-large-dogs">
                40+ lbs
              </a>
            </h5>
          </div>

          <div id="x-large-dogs" class="collapse" role="tabpanel">
            <div class="card-body">
              <div class="plans">
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Boarding</div>
                  <div class="price">
                    call for quote
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Day Care</div>
                  <div class="price">
                    $15 <small>/day</small>
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Bath & Brush</div>
                  <div class="price">
                    $110
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Trim & Tidy</div>
                  <div class="price">
                    $110
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Contour</div>
                  <div class="price">
                    $100
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Anal Glands</div>
                  <div class="price">
                    $30
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Teeth Brushing</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Dematting</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Flea & Lice Treatment</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Furminating</div>
                  <div class="price">
                    $20
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
                <div class="plan clearfix d-flex align-items-center">
                  <div class="name">Nails Clipped & Filed</div>
                  <div class="price">
                    $15
                  </div>
                  <div class="choose">
                    {{#link-to "main.contact" class="btn-shadow"}}
                      Contact Us
                    {{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
